.data-table{ 
    border-block-start-color: black ;
    border-block-end-style: groove;
    border-block-start-style: inherit;
        align-items: center;
    align-content: center;
    width: 30% ;
    margin-left: 30%;
    margin-right:30%;
    margin-top:2%;
}